@model Book; 
@{
    ViewData["Title"] = "Book Info";
}
<div class="row">
    <div class="col-md-6">
        <img src=@Model.ImageUrl alt="Image Text" />
    </div>
    <div class="col-md-6">
        <h3>Book Information</h3>
        <form>
            <div class="form-group row">
                <label for="Isbn" class="col-sm-2 col-form-label font-weight-bold">ISBN:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="Isbn" value="@Model.Isbn">
                </div>

                <label for="Title" class="col-sm-2 col-form-label font-weight-bold">Title:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="Title" value="@Model.Title">
                </div>

                <label for="Author" class="col-sm-2 col-form-label font-weight-bold">Author:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="Author" value="@Model.Author">
                </div>
                <label for="Edition" class="col-sm-2 col-form-label font-weight-bold">Edition:</label>
                <div class="col-sm-10 input-group-lg">
                    <input type="text" readonly class="form-control" id="Edition" value="@Model.Edition">
                </div>
                <label for="Publication" class="col-sm-2 col-form-label font-weight-bold">Publication:</label>
                <div class="col-sm-10 input-group-lg">
                    <input type="text" readonly class="form-control" id="Publication" value="@Model.Publication">
                </div>
            </div>
            @if (Model.Borrow == false)
            {
                <button asp-controller="Home" asp-action="Borrow" asp-route-id="@Model.Id" type="button" class="btn btn-danger m-b-xs float-end" onclick="location.href='@Url.Action("Borrow", "home", @Model)'">Borrow Book</button>
            }
            else
            {
                <p>This book has been borrowed, checkout other books!</p>
            }


            <button asp-controller="Home" asp-action="Books" type="button" class="btn btn-danger m-b-xs float-end" onclick="location.href='@Url.Action("Books", "home")'">Back</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
